#wrapper{
    width: 2330px;
    height: 1030px;
    border: 20px;
    margin: 0 auto;
    background-image: url (circle.png);
    background-repeat: no-repeat;
    background-position: center center;
           }
#box-one{
    width:400px;
   height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #fff8dc;
    font-family: monospace;
   
}
#box-two{
    width: 400px;
    height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #f0ead6;
     font-family: monospace;
}
#box-three{
    width: 400px;
    height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #f5f5dc;
     font-family: monospace;
}
#box-four{
    width: 400px;
     height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #f3f3df;
     font-family: monospace;
}
#box-five{
    width: 400px;
     height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #f8f8d9;
     font-family: monospace;
}
#box-six{
    width: 400px;
   height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #fff8e7;
     font-family: monospace;
}

#box-seven{
    width: 400px;
     height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #ffffe0;
     font-family: monospace;
}

#box-eight{
    width: 400px;
   height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #f9ffe3;
     font-family: monospace;
}
#box-nine{
    width: 400px;
   height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #f2e6d6;
     font-family: monospace;
}
#box-ten{
    width: 400px;
   height:700px;
    border: 2px solid darkseagreen;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: beige;
     font-family: monospace;
}

